<div ng-controller="MainController" id="app">
  <textarea 
    ng-model="sentence"
    ng-disabled="sentenceIsSubmited"
    name="sentence"
    cols="30"
    rows="10"
    placeholder="Write your sentence ...">
  </textarea>
  <button ng-click="submitSentence()">Submit Sentence</button>

  <input ng-model="word" type="text" placeholder="Write your word ...">
  <button ng-click="calculate()">Calculate Repetition</button>

  <button ng-click="restart()">Restart</button>

  <p ng-if="wordIsSubmited">{{ result }}</p>
</div>